<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <title>Slingshot Home</title>
</head>
<body>
  <div class = "jumbotron" style = "height: 100%;background: #0E0E10">
    <h1 class = "my-4"  style = "color:#fff">Games</h1>
    <% _.forEach(games, (game) => { %>
      <h3 class = "my-4" style = "text-align: center;color:#fff"><img src = "/img/<%= game.face %>" style = "width:50px;height:auto;"/><%= game.name %></h3>
      <div class = "row">
        <% _.forEach(game.tournaments, (tournament) => { %>
          <div class = "col-lg-4 mb-4">
            <div class = "card h-50" style = "background: #252525;color:#d3d3d3;border: 2px solid #111111">
              <div class = "card-body">
                  <div class="row">
                    
                    <img src="/img/<%= game.cover %>" class = "col-md-4" alt="">

                    <div class = "col-md-8">
                      <div class = "row">
                          <div class="col"><p class="card-text MB-4"><i class="fa fa-calendar" style = "color:#d3d3d3;font-size:20px;margin-bottom: 10px;"></i> <%= moment(tournament.starts).format('ll'); %></p></div>
                          <div class="col"><p class="card-text"><i class="fa fa-trophy" style = "color:#d3d3d3;font-size:20px;"></i> ₹‎1000 </p></div>
                          <div class="w-100"></div>
                          <div class="col"><p class="card-text"><i class="	fa fa-money" style = "color:#d3d3d3;font-size:20px;"></i> ₹‎<%= tournament.price %>/kill</p></div>
                          <div class="col"><p class="card-text"><i class="	fa fa-money" style = "color:#d3d3d3;font-size:20px;"></i> ₹‎<%= tournament.price %>/kill</p></div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    <% }) %>
  </div>

  
</body>
</html>