<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to Slingshot</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/glide.core.css">
  <link rel="stylesheet" href="/css/glide.theme.min.css">
  <link rel="stylesheet" href="/css/styleindex.css">
</head>
<script>
  $(document).ready(function() {
    
    $('[data-toggle=offcanvas]').click(function() {
      $('.row-offcanvas').toggleClass('active');
    });
    
  });
</script>
<body>
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary mb-3">
    <div class="flex-row d-flex">
        <button type="button" class="navbar-toggler mr-2 " data-toggle="offcanvas" title="Toggle responsive left sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#" title="Free Bootstrap 4 Admin Template">Slingshot</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//www.codeply.com">Link</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#myAlert" data-toggle="collapse">Alert</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">About</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" id="main">
  <div class="row row-offcanvas row-offcanvas-left" id = "fixl">
      <div class="col-md-3 col-lg-2 sidebar-offcanvas bg-light pl-0" id="sidebar" role="navigation">
          <ul class="nav flex-column pl-0 pt-5 mt-3">
              <li class="nav-item"><a class="nav-link" href="#">Overview</a></li>
              <li class="nav-item">
                  <a class="nav-link" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Reports▾</a>
                  <ul class="list-unstyled flex-column pl-3 collapse" id="submenu1" aria-expanded="false">
                     <li class="nav-item"><a class="nav-link" href="">Report 1</a></li>
                     <li class="nav-item"><a class="nav-link" href="">Report 2</a></li>
                  </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Analytics</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Export</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Snippets</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Flexbox</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Layouts</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Templates</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Themes</a></li>
          </ul>
      </div>
      <div class="col main pt-5 mt-3">
        <div class="gliderr">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <li class="glide__slide"><img src = "/img/adv2.jpg" style = "width: 100%;height: auto;"></li>
              <li class="glide__slide"><img src = "/img/adv1.jpg" style = "width: 100%;height: auto;"></li>
              <li class="glide__slide"><img src = "/img/pubgadv.jpg" style = "width: 100%;height: auto;"></li>
              <li class="glide__slide"><img src = "/img/pubgadv2.jpg" style = "width: 100%;height: auto;"></li>
            </ul>
          </div>
        </div>

    <div class = "jumbotron m-2 p-2">
        <h1 class = "h1" id = "mainHead">Upcoming</h1>
        <% _.forEach(games, (game) => { %>
          <div class = "jumbotron py-3 my-3" >
            <h3 class = "h3" id = "gameHead"><%= game.name %></h3>
            <div class = "row">
              <div class="glide">
                  <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                      <% _.forEach(game.tournaments, (tournament) => { %>
                        <% if(tournament.starts >= new Date()){ %>
                          <a href = "/tournament/<%= tournament._id %>" style = "text-decoration: none;">
                            <li class="glide__slide">
                                <div class="card" style="max-width: 540px;background:#252525">
                                    <div class="row no-gutters">
                                      <div class="col-md-4">
                                        <img src="/img/<%= game.face %>" class="card-img" id = "face" style = "width:100%;height:auto;">
                                      </div>
                                      <div class="col-md-8">
                                        <div class="card-body" style = "margin-top: -10px;">
                                          <h5 class="card-title" style = "color:#d3d3d3"><%= tournament.name %></h5>
                                          <div class="row">
                                            <div class="col"><p class="card-text mb-2" id = "con"><i class="fa fa-calendar" style = "color:gold;font-size:12px;margin-bottom: 10px;"></i> &nbsp; <%= moment(tournament.starts).format('l'); %></p></div>
                                            <div class="col"><p class="card-text" id = "con"><i class="fa fa-trophy" style = "color:gold;font-size:15px;"></i> &nbsp;  ₹‎1000 </p></div>
                                            <div class="w-100"></div>
                                            <div class="col"><p class="card-text" id = "con"><i class="	fa fa-money" style = "color:gold;font-size:15px;"></i> &nbsp;  ₹‎<%= tournament.price %>/kill</p></div>
                                            <div class="col"><p class="card-text" id = "con"><i class="	fa fa-money" style = "color:gold;font-size:15px;"></i> &nbsp;  ₹‎<%= tournament.price %>/kill</p></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              </li>
                            </a> 
                        <% } %>
                      <% }) %>
                    </ul>
                  </div>
                </div>
            </div>
          </div>
        <% }) %>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>

var sliders = document.querySelectorAll('.glide');
var config = {
  type: 'carousel',
  perView: 3,
  breakpoints: {
    1200: {
      perView: 3
    },
    1000: {
      perView: 2
    },
    769: {
      perView: 2
    },
    360: {
      perView: 1
    }
  }
}
for (var i = 0; i < sliders.length; i++) {
  var glide = new Glide(sliders[i],config);
  
  glide.mount();
}
</script>
<script>
  var newConfig = {
    type: 'carousel',
    perView: 1,
    gap: 15,
    focusAt: 'center',
    peek: 260,
    breakpoints: {
      1200: {
        peek: 100
      },
      1000: {
        peek: 100,
        gap: 7
      },
      600: {
        peek: 40,
        gap: 5
      },
      350: {
        peek: 20,
        gap: 5
      }
    }
  }
  new Glide(".gliderr", newConfig).mount();
</script>
</body>
</html>