<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="img/clash.png">
  <title>Gameplae</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/skins/skin-black.css">
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/app.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/AdminLTE.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/skins/skin-blue.css">

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/glide.core.css">
  <link rel="stylesheet" href="/css/glide.theme.min.css">
  <link rel="stylesheet" href="/css/styleindex.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">
      <header class="main-header">
          <!-- Logo -->
          <a href="/" class="logo pt-1" style = "background: #007bff;color: #fff">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><b><i class = "fas fa-crown"></i></b></span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg"><i class = "fas fa-crown"></i> GamePlae</span>
          </a>
          <!-- Header Navbar: style can be found in header.less -->
          <nav class="navbar navbar-static-top" style = "height: 49px;background: #101010;">
              <!-- Sidebar toggle button-->
              <a href="#" class = "sidebar-toggle pt-2" data-toggle="offcanvas" role="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </a>
              <div class="d-flex flex-grow-1 mainSearch" style = "margin-top: -10px;">
                <form class="mr-2 my-2 w-100 d-inline-block order-1" style = "margin-top: -30px;">
                    <div class="input-group">
                        <input type="text" id = "gameSearch" class="form-control border border-0 bg-dark" placeholder="Search...">
                        <span class="input-group-append">
                            <button class="btn btn-outline-light border border-0 bg-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
              <% if(user){ %>
                <ul class = "list-inline active pb-2">
                  <li class = "list-inline-item">
                      <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span style = "font-size: 30px;"><i class = "fas fa-wallet"></i> <strong style = "color: #fff" id = "amount">₹<%= user.wallet %></strong>
                          </a>
                          <% if(user.wallet < 100){ %>
                            <div class="dropdown-menu p-3">
                              <h5 class = "h5 text-center" style = "color: green;font-weight: bolder">Denied!</h5>
                              <hr>
                              <p class = "h6">Balace should be more than 100 to withdraw</p>
                          </div>
                          <% }else{ %>
                                <% if(user.verified){ %>
                                  <div class="dropdown-menu p-3 blackBack">
                                    <span class = "ml-3 h5">Withdraw Money</span>
                                    <button class = "btn btn-primary btn-block mt-3" data-toggle="modal" data-target="#modalWithdraw">UPI</button>
                                      <button class = "btn btn-primary btn-block" data-toggle="modal" data-target="#modalWithdrawB">Bank</button>
                                </div>
                                <% }else{ %>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                    
                                  </div>
                                <% } %>
                          <% } %>
                        </div>
                    </li>  
                    
                  <li class="list-inline-item">
                      <div class="dropdown dropleft">
                                <img src="/img/avatar.png" alt="avatar" id="dropdownMenuButton" data-toggle="dropdown" style = "width: 30px;height:auto;">
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/profile/<%= user._id %>">Your Profile</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                          </div>
                        </div>
                  </li>
                  </ul>
              <% }else{ %>
                <ul class = "list-inline active pb-2">
                  <li class = "list-inline-item" style = "margin-left: 5px;">
                      <div class="dropdown dropleft">
                        <span style = "font-size: 25px;" id="dropdownMenu"  data-toggle="modal" data-target="#myModal"><strong style = "color: #fff" id = "wallet">Login</strong>
                        </div>
                    </li>  
                    <li class = "list-inline-item">
                      <div class="dropdown dropleft">
                        <span style = "font-size: 25px;" id="dropdownMenu" data-toggle="modal" data-target="#SignupModal"><strong style = "color: #fff" id = "wallet">Signup</strong>
                        </div>
                    </li> 
                  </ul>
                  <% } %>
          </nav>
      </header>
      <!-- =============================================== -->
      <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
          <!-- sidebar: style can be found in sidebar.less -->
          <section class="sidebar">
              <!-- search form -->
              <form action="#" method="get" class="sidebar-form" target="_blank">
                  <div class="input-group m-2 mt-4">
                      <input type="text" name="id" id = "search" class="form-control bg-dark" placeholder="How may I help?" style = "border: 0;">
                      <span class="input-group-btn bg-dark mr-2">
                          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                          </button>
                      </span>
                  </div>
              </form>
              <!-- /.search form -->
              <!-- sidebar menu: : style can be found in sidebar.less -->
              <ul class="sidebar-menu">
                  <li class="header text-center" style = "color: #808080">Tournaments</li>
                  <% _.forEach(games, (game) => { %>
                    <li id = "Gname"><a href="/tournaments/<%= game.name %>"><i class="fas fa-gamepad" style = "background: -webkit-linear-gradient(#02e097, #06619B);font-weight: bold;background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;"></i> <span style = "color: #D3D3D3;font-weight: bolder;"><%= game.name %></span><span class = "badge badge-primary badge-pill pull-right"><%= game.tournaments.length %></span></a></li>
                  <% }) %>
              </ul>
          </section>
          <!-- /.sidebar -->
      </aside>
      <!-- =============================================== -->
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style = "background: #0E0E10">
          <div class = "loader"></div>
          <section class="content">
                  <div>
                      <% if(hasErrors){ %>
                        <% _.forEach(errors, (error) => { %>
                          <div class = "alert alert-danger text-center">
                              <a href = "#" class = "close" data-dismiss = "alert" aria-label="close">&times;</a>
                          <%= error %>
                          </div>
                        <% }) %>
                      <% } %>
                      <% if(successMsg){ %>
                        <% _.forEach(success, (successful) => { %>
                              <div class="container d-flex justify-content-center">
                                <div id="successModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
                                        <div class="modal-content border-0 mx-3">
                                            <div class="modal-body p-0">
                                                <div class="row justify-content-center">
                                                    <div class="col-auto">
                                                        <div class="card">
                                                            <div class="card-header bg-white pb-0 border-0">
                                                                <div class="row">
                                                                    <div class="col text-right"><img class="img-fluid m-3 cross" src="https://retohercules.com/images/white-close-icon-png-3.png" data-dismiss="modal" alt="Image result for close png" width="17" height="17"></div>
                                                                </div>
                                                            </div>
                                                            <div class="card-body pt-0">
                                                                <div class="row justify-content-center text-center mb-3">
                                                                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_gcwCZ3.json"  background="transparent"  speed="1"  style="width: 120px; height: 120px;" autoplay></lottie-player>
                                                                </div>
                                                                <div class="row justify-content-center text-center">
                                                                    <div class="col">
                                                                        <p class="mb-2"><b>Withdraw Request Success</b></p>
                                                                    </div>
                                                                </div>
                                                                <div class="row justify-content-center mb-5">
                                                                    <div class="col-sm-9 mt-2"><p class = "h3 text-center"><%= successful %></p></div>
                                                    
                                                                  </div>
                                                                <div class="row mt-auto pt-auto text-center">
                                                                    <div class="col mt-auto pt-auto">
                                                                        <p class="brand">&copy; Gameplae gaming</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                      <% } %>
                    <div class="gliderr">
                      <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                          <li class="glide__slide"><img src = "/img/adv2.jpg" style = "width: 100%;height: auto;"></li>
                          <li class="glide__slide"><img src = "/img/adv1.jpg" style = "width: 100%;height: auto;"></li>
                          <li class="glide__slide"><img src = "/img/pubgadv.jpg" style = "width: 100%;height: auto;"></li>
                          <li class="glide__slide"><img src = "/img/pubgadv2.jpg" style = "width: 100%;height: auto;"></li>
                        </ul>
                      </div>
                    </div>

                    <ul id="tabsJustified" class="nav nav-tabs nav-fill mt-3 mb-0">
                        <li class="nav-item" style = "background: #0E0E10"><a href="" data-target="#upcoming" data-toggle="tab" class="nav-link small text-uppercase active btn btn-dark">Upcoming</a></li>
                        <li class="nav-item" style = "background: #0E0E10"><a href="" data-target="#messages1" data-toggle="tab" class="nav-link small text-uppercase btn btn-dark">Joined</a></li>
                    </ul>
                    <br>
                    <div id="tabsJustifiedContent" class="tab-content">
                        <div id="upcoming" class="tab-pane fade active show">
                            <div class = "jumbotron mt-0 pt-0">
                                <% _.forEach(games, (game) => { %>
                                  <div class = "py-3 my-3" >
                                    <h3 class = "h3" id = "gameHead"><%= game.name %></h3>
                                    <div class = "row">
                                      <div class="glide">
                                          <div class="glide__track" data-glide-el="track">
                                            <ul class="glide__slides">
                                              <% _.forEach(game.tournaments, (tournament) => { %>
                                                <% if(tournament.starts >= new Date()){ %>
                                                  <% if(user){ %>
                                                    <a href = "/tournament/<%= tournament._id %>" style = "text-decoration: none;">
                                                      <li class="glide__slide">
                                                          <div class="card" style="max-width: 540px;background:#252525">
                                                              <div class="row no-gutters">
                                                                <div class="col-md-4">
                                                                  <img src="/img/<%= game.face %>" class="card-img" id = "face" style = "width:100%;height:auto;">
                                                                </div>
                                                                <div class="col-md-8">
                                                                  <div class="card-body" style = "margin-top: -10px;">
                                                                    <h5 class="card-title" style = "color:#d3d3d3"><%= tournament.name %></h5>
                                                                    <div class="row">
                                                                      <div class="col"><p class="card-text mb-2" id = "con"><i class="fa fa-calendar" style = "color:gold;font-size:12px;margin-bottom: 10px;"></i> &nbsp; <%= moment(tournament.starts).format('l'); %></p></div>
                                                                      <div class="col"><p class="card-text" id = "con"><i class="fa fa-trophy" style = "color:gold;font-size:15px;"></i> &nbsp;  ₹‎1000 </p></div>
                                                                      <div class="w-100"></div>
                                                                      <div class="col"><p class="card-text" id = "con"><i class="	fa fa-money" style = "color:gold;font-size:15px;"></i> &nbsp;  ₹‎<%= tournament.price %>/kill</p></div>
                                                                      <div class="col"><p class="card-text" id = "con"><i class="	fa fa-users" style = "color:gold;font-size:15px;"></i> &nbsp;  <%= tournament.players.length %>/<%= tournament.participants %></p></div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </li>
                                                      </a> 
                                                  <% }else{ %>
                                                    <a style = "text-decoration: none;" data-toggle="modal" data-target="#myModal">
                                                      <li class="glide__slide">
                                                          <div class="card" style="max-width: 540px;background:#252525">
                                                              <div class="row no-gutters">
                                                                <div class="col-md-4">
                                                                  <img src="/img/<%= game.face %>" class="card-img" id = "face" style = "width:100%;height:auto;">
                                                                </div>
                                                                <div class="col-md-8">
                                                                  <div class="card-body" style = "margin-top: -10px;">
                                                                    <h5 class="card-title" style = "color:#d3d3d3"><%= tournament.name %></h5>
                                                                    <div class="row">
                                                                      <div class="col"><p class="card-text mb-2" id = "con"><i class="fa fa-calendar" style = "color:gold;font-size:12px;margin-bottom: 10px;"></i> &nbsp; <%= moment(tournament.starts).format('l'); %></p></div>
                                                                      <div class="col"><p class="card-text" id = "con"><i class="fa fa-trophy" style = "color:gold;font-size:15px;"></i> &nbsp;  ₹‎1000 </p></div>
                                                                      <div class="w-100"></div>
                                                                      <div class="col"><p class="card-text" id = "con"><i class="	fa fa-money" style = "color:gold;font-size:15px;"></i> &nbsp;  ₹‎<%= tournament.price %>/kill</p></div>
                                                                      <div class="col"><p class="card-text" id = "con"><i class="	fa fa-users" style = "color:gold;font-size:15px;"></i> &nbsp;  <%= tournament.players.length %>/<%= tournament.participants %></p></div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </li>
                                                      </a> 
                                                  <% } %>
                                                <% } %>
                                              <% }) %>
                                            </ul>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                                <% }) %>
                            </div>
                        </div>
                        <div id="messages1" class="tab-pane fade active">
                              <% if(user){ %>
                                <div class = "jumbotron">
                                  <h3 class = "h3 mt-3 text-center" style = "opacity: 0.8;font-family:arial;color: #252525">Your joined Tournaments will be shown here</h3>
                                </div>
                              <% }else{ %>
                                <div class = "jumbotron">
                                  <h3 class = "h3 mt-3 text-center" style = "opacity: 0.8;font-family:arial;color: #252525">Login to join Tournaments</h3>
                                </div>
                              <% } %>
                        </div>
                    </div>
                </div>                    
              </div>
              <% if(!user){ %>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" style = "background: #151515">
                      <div class="modal-header py-1 mt-1" style = "border: 0;">
                        <p class = "mt-3 py-1" style = "color: #d3d3d3;margin-left:36%;font-size: 25px;font-weight: bolder;"><i class = "fa fa-user"></i> Login</p><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                      </div>
                      <div class="modal-body py-0" style = "border: 0;margin-top:-5px;">
                        <form action="/login" method = "POST">
                            <div class="input-group mt-2">
                              <input type="text" name = "email" id = "username" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="input-group mt-2">
                              <input type="password" name = "password" id = "username" class="form-control" placeholder="Password" required>
                            </div>
                            <div class="input-group mt-2 mb-2">
                                  <button type = "submit" class = "btn btn-primary btn-block" id = "modalButton">Login</button>
                            </div>
                            <div class = "row mt-1 mb-3">
                              <div class = "col">
                                <span class = "btn btn-block btn-info" data-toggle="modal" data-target="#SignupModal" data-dismiss = "modal">Create an account</span>
                              </div>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="SignupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" style = "background: #151515">
                      <div class="modal-header py-1 mt-1" style = "border: 0;">
                        <p class = "mt-3 py-1" style = "color: #d3d3d3;margin-left:36%;font-size: 25px;font-weight: bolder;"><i class = "fa fa-user"></i> Signup</p><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                      </div>
                      <div class="modal-body py-0" style = "border: 0;margin-top:-5px;">
                        <form action="/create" method = "POST">
                            <div class="input-group mt-3">
                              <input type="text" name = "name" id = "username" class="form-control" placeholder="Full Name" required>
                            </div>
                            <div class="input-group mt-2">
                              <input type="text" name = "email" id = "username" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="input-group mt-2">
                              <input type="password" name = "password" id = "username" class="form-control" placeholder="Password" required>
                            </div>
                            <div class="input-group mt-2">
                              <input type="tel" name = "tel" id = "username" class="form-control" placeholder="Phone Number" required>
                            </div>
                            <div class="input-group mt-2 mb-2">
                                  <button type = "submit" class = "btn btn-primary btn-block" id = "modalButton">Create Account</button>
                            </div>
                            <div class = "row mt-1 mb-3">
                              <div class = "col">
                                <span class = "btn btn-block btn-info" data-toggle="modal" data-target="#myModal" data-dismiss = "modal">Login to existing account</span>
                              </div>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              <% }else{ %>
                <div class="container d-flex justify-content-center">
                  <div id="modalWithdraw" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
                          <div class="modal-content border-0 mx-3">
                              <div class="modal-body p-0">
                                  <div class="row justify-content-center">
                                      <div class="col-auto">
                                          <div class="card">
                                              <div class="card-header bg-white pb-0 border-0">
                                                  <div class="row">
                                                      <div class="col text-right"><img class="img-fluid m-3 cross" src="https://retohercules.com/images/white-close-icon-png-3.png" data-dismiss="modal" alt="Image result for close png" width="17" height="17"></div>
                                                  </div>
                                              </div>
                                              <div class="card-body pt-0">
                                                  <div class="row justify-content-center text-center">
                                                      <span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/UPI-Logo-vector.svg/1280px-UPI-Logo-vector.svg.png" class="img-fluid mr-1" width="155"></span>
                                                  </div>
                                                  <div class="row justify-content-center text-center">
                                                      <div class="col">
                                                          <p class="mb-2"><b>Withdraw Money Through UPI</b></p>
                                                      </div>
                                                  </div>
                                                  <% if(pay){ %>
                                                  <form action="" method = "post" id = "rUpi">
                                                      <div class="row justify-content-center">
                                                          <div class="col-sm-9 mt-3">
                                                              <span id = "dUpi" class = "badge badge-info p-1 pull-right">Withraw using another UPI</span>
                                                            </div>  
                                                          <div class="col-sm-8 mt-2 p-3" id = "preUpi">
                                                              <img src = "/img/wallet/<%= pay.upi.name %>.png" style = "margin-top: -5px;" class = "float-left img-fluid img-rounded mr-2" width = "25" height = "25">
                                                              <label for="upi"><p id = "upiHolder" style = "display: none;" class = "text-uppercase"><%= pay.upi.holder %></p><span id = "upiNum">+91 <%= pay.upi.rnum %></span></label>
                                                              <input type="checkbox" class = "pull-right" id="upi">
                                                            </div>
                                                          <div class="col-sm-9 mt-2"><button type="submit" id = "sbtn" class="btn btn-primary btn-block mt-1">Submit Request</button></div>
                                                        </div>
                                                  </form>  
                                                  <% } %>
                                                  <form action="/wrsubmit" method = "post" id = "newUpi">
                                                    <div class="row justify-content-center">
                                                          <div class="col-10 col-md-9 col-lg-9 mt-2"><select class = "btn btn-block btn-icon" name = "payThrough" name = "upi">
                                                            <option value="paytm"><span><img src="https://i.imgur.com/URmkevm.png" class="img-fluid mr-1" width="25"></span>Paytm</option>
                                                              <option value="phonepe"><span><img src="https://i.imgur.com/URmkevm.png" class="img-fluid mr-1" width="25"></span>PhonePe</option>
                                                            <option value="google"><span><img src="https://i.imgur.com/URmkevm.png" class="img-fluid mr-1" width="25"></span>Google Pay</option>
                                                          </select></div>
                                                          <div class="col-10 col-md-9 col-lg-9 mt-2"><input type="tel" name = "upiNum" class="btn btn-icon btn-block text-left phVal" placeholder = "UPI PHONE NUMBER" required><span class = "pVal hidden badge badge-danger" id = "validation-fa"><i class = "fa fa-times"></i></span></div>
                                                          <div class="col-10 col-md-9 col-lg-9 mt-2"><input type="text" name = "holdername" class="btn btn-icon btn-block text-left hoVal" placeholder = "UPI HOLDER NAME" required><span class = "hVal hidden badge badge-danger" id = "validation-fa"><i class = "fa fa-times"></i></span></div>
                                                          <div class="col-10 col-md-9 col-lg-9 mt-2"><input type="number" name = "wammount" class="btn btn-icon btn-block text-left amVal" placeholder = "Enter Amount" required><span class = "aVal hidden badge badge-danger" id = "validation-fa"><i class = "fa fa-times"></i></span></div>
                                                          <div class="col-10 col-md-9 col-lg-9 mt-2"><button type="submit" class="btn btn-primary btn-block" id = "upiSubmit">Submit Request</button></div>
                                                        </div>
                                                  </form>
                                                  <div class="row mt-3 pt-auto text-center">
                                                      <div class="col mt-auto pt-auto">
                                                          <p class="brand">&copy; Gameplae gaming</p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="container d-flex justify-content-center">
                <div id="modalWithdrawB" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
                        <div class="modal-content border-0 mx-3">
                            <div class="modal-body p-0">
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <div class="card">
                                            <div class="card-header bg-white pb-0 border-0">
                                                <div class="row">
                                                    <div class="col text-right"><img class="img-fluid m-3 cross" src="https://retohercules.com/images/white-close-icon-png-3.png" data-dismiss="modal" alt="Image result for close png" width="17" height="17"></div>
                                                </div>
                                            </div>
                                            <div class="card-body pt-0">
                                                <div class="row justify-content-center text-center mb-3">
                                                    <span><img src="/img/bank.png" class="img-fluid mr-1" width="105"></span>
                                                </div>
                                                <div class="row justify-content-center text-center">
                                                    <div class="col">
                                                        <p class="mb-2"><b>Withdraw Money Through Bank</b></p>
                                                    </div>
                                                </div>
                                                <div class="row justify-content-center mb-5">
                                                    <div class="col-sm-9 mt-2"><select class = "btn btn-block btn-icon">
                                                      <option value="paytm" class = "btn btn-block"><span><img src="https://i.imgur.com/URmkevm.png" class="img-fluid mr-1" width="25"></span>Paytm</option>
                                                      <option value="phonepe"><span><img src="https://i.imgur.com/URmkevm.png" class="img-fluid mr-1" width="25"></span>PhonePe</option>
                                                      <option value="google"><span><img src="https://i.imgur.com/URmkevm.png" class="img-fluid mr-1" width="25"></span>Google Pay</option>
                                                    </select></div>
                                                    <div class="col-sm-9 mt-2"><input type="number" class="btn btn-icon btn-block text-left" placeholder = "Enter Amount"></div>
                                                    <div class="col-sm-9 mt-2"><button type="button" class="btn btn-primary btn-block">Submit Request</button></div>
                                                  </div>
                                                <div class="row mt-auto pt-auto text-center">
                                                    <div class="col mt-auto pt-auto">
                                                        <p class="brand">&copy; Gameplae gaming</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              <% } %>
          </section>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  <script>
  
  var sliders = document.querySelectorAll('.glide');
  var config = {
    type: 'carousel',
    perView: 3,
    breakpoints: {
      1200: {
        perView: 2
      },
      1000: {
        perView: 2
      },
      639: {
        perView: 1,
        peek: {
          before: 0,
          after: 120
        },
        gap: 10
      },
      400: {
        perView: 1,
        peek: {
          before: 0,
          after: 80
        },
        gap: 10
      },
      360: {
        perView: 1,
        peek: {
          before: 0,
          after: 30
        },
      }
    }
  }
  for (var i = 0; i < sliders.length; i++) {
    var glide = new Glide(sliders[i],config);
    
    glide.mount();
  }
  </script>
  <script>
    var newConfig = {
      autoplay: 5000,
      type: 'carousel',
      perView: 1,
      gap: 15,
      focusAt: 'center',
      peek: 290,
      breakpoints: {
        1200: {
          peek: 100
        },
        1000: {
          peek: 100,
          gap: 7
        },
        600: {
          peek: 30,
          gap: 5
        },
        350: {
          peek: 20,
          gap: 5
        }
      }
    }
    new Glide(".gliderr", newConfig).mount();
  </script>
  <% if(pay){ %>
    <script>
      $('#newUpi').hide();  
    </script>
  <% } %>
  <% if(successMsg){ %>
    <script>
    $(document).ready(function(){
        $("#successModal").modal('show');
    });
    </script>
  <% } %>
  <script>
    document.onreadystatechange = function() { 
    if (document.readyState !== "complete") { 
        document.querySelector(".loader").style.visibility = "visible"; 
    } else { 
        document.querySelector(".loader").style.display = "none";
        document.querySelector(".loader").style.transition = "3s"; 
        document.querySelector("body").style.visibility = "visible"; 
    } 
  };
  </script>
  <% if(pay){ %>
    <script>
      $(document).ready(function(){
      function validateUpi(pVal, hVal, aVal){
          if(pVal && hVal && aVal){
                $('#upiSubmit').removeAttr("disabled");
                $('#upiSubmit').html("Submit Request")
                $('#upiSubmit').removeClass('btn-danger');
                $('#upiSubmit').addClass('btn-primary');
            }else{
              $('#upiSubmit').attr("disabled", "true");
              $('#upiSubmit').html("Fix All the errors");
              $('#upiSubmit').removeClass('btn-primary');
                $('#upiSubmit').addClass('btn-danger');
            }
      }
        
      var $regexname=/^([0-9]{10})$/;
      var pVal = false;
      var hVal = false;
      var aVal = false;
      $('.phVal').on('keypress keydown keyup',function(){
              if (!$(this).val().match($regexname)) {
                  $('.pVal').removeClass('hidden');
                  $('.pVal').show();
                  pVal = false;
                  validateUpi(pVal, hVal, aVal);
              }
            else{
                  $('.pVal').addClass('hidden');
                  pVal = true;
                  validateUpi(pVal, hVal, aVal);
                  }
                });

      $('.hoVal').on('keypress keydown keyup',function(){
          if (!$(this).val().match(/^([a-z A-Z]{2,100})$/)) {
              $('.hVal').removeClass('hidden');
              $('.hVal').show();
              hVal = false;
              validateUpi(pVal, hVal, aVal)
          }
        else{
              $('.hVal').addClass('hidden');
              hVal = true;
              validateUpi(pVal, hVal, aVal)
              }
            });
              
      $('.amVal').on('keypress keydown keyup',function(){
                if (parseInt("<%= user.wallet %>") < $('.amVal').val()) {

                    $('.aVal').removeClass('hidden');
                    $('.aVal').show();
                    aVal = false;
                    validateUpi(pVal, hVal, aVal)
                }
              else{
                  $('.aVal').addClass('hidden');
                  aVal = true;
                  validateUpi(pVal, hVal, aVal)

                }
            });
        });
    </script>  
  <% } %>
  <script src = "/js/wallet.js"></script>
</body>
</html>