
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Play <%= game.name %> @ SlingShot</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="/css/modern-business.css" rel="stylesheet">

</head>

<body style = "background: #151515">

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top" id = "navinder" style = "background: #161616;box-shadow: 0 0 10px 0 #07abed">
    <div class="container">
      <a class="navbar-brand" href="/" style = "color: #d3d3d3">SlingShot</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
           <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/img/godofwar.jpg');">
          <div class="carousel-caption d-none d-md-block">
            <h3><%= game.name %></h3>
            <p><%= game.coverdesc %></p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('/img/clashcover.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Clash Royale</h3>
            <p>Fight in 2v2 Battle Royale</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/img/codcover.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third Slide</h3>
            <p>Help Your Country conquer the world</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="jumbotron" style = "background: #151515">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class = "col-lg-9 mb-4">
            <h1 class="my-4" style = "text-align: center;color: goldenrod">Join <%= game.name %> Tournaments</h1>
          <div class = "row">
      <% _.forEach(tournaments, (tournament) => { %>
        <a href = "/tournament/<%= tournament._id %>" id = "link">
        <div class="col-lg-4 mb-4" >
            <div class="card h-100" style="background: linear-gradient(rgba(5, 5, 5, 0.6), rgba(5, 5, 5, 0.9)), url('/img/<%= game.cover %>') no-repeat 50%;color: #fff;border:2px solid #101010">
              <h4 class="card-header" style = "opacity:1;border-bottom:0.1px solid #d3d3d3"><%= tournament.name %></h4>
              <div class="card-body">
                <!-- <p class="card-text"><i class="fa fa-calendar" style = "color:green;font-size:20px;"></i> <%= moment(tournament.starts).format('LLLL'); %></p>
                <p class="card-text"><i class="fa fa-trophy" style = "color:green;font-size:20px;"></i> ₹‎1000 </p>
                <p class="card-text"><i class="	fa fa-money" style = "color:green;font-size:20px;"></i> ₹‎<%= tournament.price %>/kill</p> -->
                <div class="row">
                    <div class="col"><p class="card-text MB-4"><i class="fa fa-calendar" style = "color:green;font-size:20px;margin-bottom: 10px;"></i> <%= moment(tournament.starts).format('ll'); %></p></div>
                    <div class="col"><p class="card-text"><i class="fa fa-trophy" style = "color:green;font-size:20px;"></i> ₹‎1000 </p></div>
                    <div class="w-100"></div>
                    <div class="col"><p class="card-text"><i class="	fa fa-money" style = "color:green;font-size:20px;"></i> ₹‎<%= tournament.price %>/kill</p></div>
                    <div class="col"><p class="card-text"><i class="	fa fa-money" style = "color:green;font-size:20px;"></i> ₹‎<%= tournament.price %>/kill</p></div>
                  </div>
              </div><br>
              <div class="card-box-footer">
                <a href="/tournament/<%= tournament._id %>">Learn More</a>
              </div>
            </div>
          </div>
          </a>
      <% }) %>
      <!-- <section class="pt-5 pb-5">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="col col-md-12 pr-md-5 pl-md-5">
                      <div class="bd-example bd-example-tabs">
                          <ul class="nav nav-pills  flex-column justify-content-center flex-sm-row mb-3" id="pills-tab" role="tablist">
                              <li class="  border border-light  rounded text-sm-center nav-item mr-md-1">
                                  <a class="nav-link pt-md-3 pb-md-3 pr-md-5 pl-md-5" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false"><i class="fa fa-laptop fa-lg " aria-hidden="true"></i> Home</a>
                              </li>
                              <li class="  border border-light  rounded text-sm-center mr-md-1 nav-item ">
                                  <a class="nav-link pt-md-3 pb-md-3 pr-md-5 pl-md-5" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="far fa-gem fa-lg mr-2" aria-hidden="true"></i> Profile</a>
                              </li>
                              <li class="  border border-light  rounded text-sm-center  nav-item mr-md-1">
                                  <a class="nav-link pt-md-3 pb-md-3 pr-md-5 pl-md-5" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"><i class="fa fa-comments fa-lg " aria-hidden="true"></i> Contact</a>
                              </li>
                              <li class="  border border-light  rounded text-sm-center mr-md-1 nav-item">
                                  <a class="nav-link pt-md-3 pb-md-3 pr-md-5 pl-md-5 active show" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="true"><i class="fa fa-code fa-lg " aria-hidden="true"></i> Info</a>
                              </li>
                          </ul>
                          <div class="tab-content pt-5 pb-5" id="pills-tabContent">
                              <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                  <div class="container-fluid">
                                      <div class="row align-items-center justify-content-between">
                                          <div class="col-12 col-md-5  text-left">
                                              <h2>Tab 1 Lorem ipsum efficitur </h2>
                                              <p class=" mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. </p>
                                              <blockquote class="card  text-left  py-3 px-4 mb-3 mt-4  ">
                                                  <div class="row align-items-center justify-content-between">
                                                      <div class="col-3  p-md-1 text-center rounded">
                                                          <img src="https://via.placeholder.com/80/5fa9f8/efefef" class="img-fluid py-0 rounded" alt="features">
                                                          <footer class="blockquote-footer small p-1"><span class="small">John Doe <cite class="font-weight-bold">COMPANY NAME</cite></span></footer>
                                                      </div>
                                                      <div class="col-9">
      
                                                          <p class=" m-0 text-muted small">
                                                              Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Etiam sed iaculis libero, at euismod massain venenatis ligula. </p>
                                                          <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3" aria-hidden="true"></i>
      
                                                      </div>
                                                  </div>
                                              </blockquote>
                                              <a href="#" class="btn btn-primary  btn-rounded shadow py-3 px-5 mt-md-3 mt-2">See all features</a>
                                          </div>
                                          <div class="col-12 col-md-5 mb-4 ml-md-auto">
                                              <img alt="image" class="img-fluid img-center mr-auto ml-auto d-none d-md-block" src="https://via.placeholder.com/600/5fa9f8/efefef">
                                          </div>
      
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                  <div class="container-fluid">
                                      <div class="row align-items-center justify-content-between">
                                          <div class="col-12 col-md-5  text-left">
                                              <h2>Tab 2 Lorem ipsum efficitur</h2>
                                              <p class=" mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. </p>
                                              <blockquote class="card  text-left  py-3 px-4 mb-3 mt-4  ">
                                                  <div class="row align-items-center justify-content-between">
                                                      <div class="col-3  p-md-1 text-center rounded">
                                                          <img src="https://via.placeholder.com/80/5fa9f8/efefef" class="img-fluid py-0 rounded" alt="features">
                                                          <footer class="blockquote-footer small p-1"><span class="small">John Doe <cite class="font-weight-bold">COMPANY NAME</cite></span></footer>
                                                      </div>
                                                      <div class="col-9">
      
                                                          <p class=" m-0 text-muted small">
                                                              Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi.
                                                          </p>
                                                          <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3" aria-hidden="true"></i>
                                                      </div>
                                                  </div>
                                              </blockquote>
                                              <a href="#" class="btn btn-primary  btn-rounded shadow py-3 px-5 mt-md-3 mt-2">See all features</a>
                                          </div>
                                          <div class="col-12 col-md-5 mb-4 ml-md-auto">
                                              <img alt="image" class="img-fluid img-center mr-auto ml-auto d-none d-md-block" src="https://via.placeholder.com/600/5fa9f8/efefef">
                                          </div>
      
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                  <div class="container-fluid">
                                      <div class="row align-items-center justify-content-between">
                                          <div class="col-12 col-md-5  text-left">
                                              <h2>Tab 3 Lorem ipsum sed erat</h2>
                                              <p class=" mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. </p>
                                              <blockquote class="card  text-left  py-3 px-4 mb-3 mt-4  ">
                                                  <div class="row align-items-center justify-content-between">
                                                      <div class="col-3  p-md-1 text-center rounded">
                                                          <img src="https://via.placeholder.com/80/5fa9f8/efefef" class="img-fluid py-0 rounded" alt="features">
                                                          <footer class="blockquote-footer small p-1"><span class="small">John Doe <cite class="font-weight-bold">COMPANY NAME</cite></span></footer>
                                                      </div>
                                                      <div class="col-9">
      
                                                          <p class=" m-0 text-muted small">
                                                              Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Etiam sed iaculis libero, at euismod massain venenatis ligula.
                                                          </p>
                                                          <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3" aria-hidden="true"></i>
                                                      </div>
                                                  </div>
                                              </blockquote>
                                              <a href="#" class="btn btn-primary  btn-rounded shadow py-3 px-5 mt-md-3 mt-2">See all features</a>
                                          </div>
                                          <div class="col-12 col-md-5 mb-4 ml-md-auto">
                                              <img alt="image" class="img-fluid img-center mr-auto ml-auto d-none d-md-block" src="https://via.placeholder.com/600/5fa9f8/efefef">
                                          </div>
      
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade active show" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                                  <div class="container-fluid">
                                      <div class="row align-items-center justify-content-between">
                                          <div class="col-12 col-md-5  text-left">
                                              <h2>Tab 4 Lorem ipsum efficitur </h2>
                                              <p class=" mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. </p>
                                              <blockquote class="card  text-left  py-3 px-4 mb-3 mt-4  ">
                                                  <div class="row align-items-center justify-content-between">
                                                      <div class="col-3  p-md-1 text-center rounded">
                                                          <img src="https://via.placeholder.com/80/5fa9f8/efefef" class="img-fluid py-0 rounded" alt="features">
                                                          <footer class="blockquote-footer small p-1"><span class="small">John Doe <cite class="font-weight-bold">COMPANY NAME</cite></span></footer>
                                                      </div>
                                                      <div class="col-9 position-relative">
      
                                                          <p class=" m-0 text-muted small">
                                                              Aenean sit amet felis dolor, in sagittis nisi. Etiam sed iaculis libero, at euismod massain venenatis ligula.
                                                          </p>
                                                          <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3" aria-hidden="true"></i></div>
      
                                                  </div>
                                              </blockquote>
                                              <a href="#" class="btn btn-primary  btn-rounded shadow py-3 px-5 mt-md-3 mt-2">See all features</a>
                                          </div>
                                          <div class="col-12 col-md-5 mb-4 ml-md-auto">
                                              <img alt="image" class="img-fluid img-center mr-auto ml-auto d-none d-md-block" src="https://via.placeholder.com/600/5fa9f8/efefef">
                                          </div>
      
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section> -->
          </div>
        </div>
        <div class="col-lg-3 mb-4">
            <h1 class="my-4" style = "text-align: center;color: goldenrod">Join</h1>
            <div class="list-group">
              <a href="index.html" class="list-group-item bg-dark" style = "color:#fff">Home</a>
              <a href="about.html" class="list-group-item bg-dark" style = "color:#fff">About</a>
              <a href="services.html" class="list-group-item bg-dark" style = "color:#fff">Services</a>
              <a href="contact.html" class="list-group-item bg-dark" style = "color:#fff">Contact</a>
              <a href="portfolio-1-col.html" class="list-group-item bg-dark" style = "color:#fff">1 Column Portfolio</a>
              <a href="portfolio-2-col.html" class="list-group-item bg-dark" style = "color:#fff">2 Column Portfolio</a>
              <a href="portfolio-3-col.html" class="list-group-item bg-dark" style = "color:#fff">3 Column Portfolio</a>
              <a href="portfolio-4-col.html" class="list-group-item bg-dark" style = "color:#fff">4 Column Portfolio</a>
              <a href="portfolio-item.html" class="list-group-item bg-dark" style = "color:#fff">Single Portfolio Item</a>
              <a href="blog-home-1.html" class="list-group-item bg-dark" style = "color:#fff">Blog Home 1</a>
              <a href="blog-home-2.html" class="list-group-item bg-dark" style = "color:#fff">Blog Home 2</a>
              <a href="blog-post.html" class="list-group-item bg-dark" style = "color:#fff">Blog Post</a>
            </div>
          </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>Portfolio Heading</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project One</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Two</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Three</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Four</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Five</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Six</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Modern Business Features</h2>
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
          <li>
            <strong>Bootstrap v4</strong>
          </li>
          <li>jQuery</li>
          <li>Font Awesome</li>
          <li>Working contact form with validation</li>
          <li>Unstyled page elements for easy customization</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
